body {

    width: 95%;

    margin: 15px auto;

    font-family: Arial, sans-serif;

}



/* Navigation Menu */

nav {

    background-color: blue;

    padding: 10px;

    text-align: center;

}



nav ul {

    list-style-type: none;

    margin: 0;

    padding: 0;

}



nav ul li {

    display: inline;

    margin-right: 20px;

}



nav ul li a {

    color: white;

    text-decoration: none;

}


article {

    display: flex;

    flex-wrap: wrap;

}



article h2 {

    color: darkblue;

}



article p {

    width: 75%;

    text-align: justify;

}



.first-letter {

    font-size: 2em;

    font-style: italic;

    font-weight: bold;

}



/* Image */

.intro-img {

    width: 200px;

    float: left;

    margin-right: 10px;

}



/* Aside Section */

aside {

    width: 20%;

    float: right;

    background-color: lightgray;

    padding: 10px;

}



/* Footer */

footer {

    position: fixed;

    bottom: 0;

    width: 100%;

    background-color: black;

    color: white;

    text-align: center;

    padding: 5px;

}