* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f4f4f4;
    font-family: Arial, sans-serif;
}

nav{
    background-color: #3366cc;
    padding: 10px 0;
    text-align: center;
}


nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

nav a:hover {
    backgound-color: #254b8a;
}

.context-box{
    background-color: white;
    border: 1px solid #999;
    padding: 20px;
    margin: 20px auto;
    position: relative;

}

article {
    width: 75%;
    float: left;
}

article h1{
    margin-bottom: 15px;
}


article h2{
    margin-top: 20px;
    margin-bottom: 10px;
}


aside{
    width: 20%;
    float: right;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
}

aside h4 {
    margin-bottom: 10px;
}

aside ol {
    list-style-type: none;
}

aside li{
    margin-bottom: 8px;
}

aside a {
    text-decoration: none;
    color: #3366cc;
}

aside a:hover{
    text-decoration: underline;
}


