#nav_menu ul { 
    list-style-type: none; 
}
#nav_menu ul li { float: left; }
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white; 
}
#nav_menu ul li a.lastitem { border-right: none; }
#nav_menu ul li a.current { color: yellow; }
aside {
    width: 20%;
    float: right;
    background-color: rgb(107, 179, 189);
    padding: .5em;
    border: 2px solid black;
}
#ol2 {
    list-style-type: lower-alpha;
}
aside ol {
    list-style-type: upper-roman;
}
aside ul {
    list-style-type: square;
}
html {
    background-image: linear-gradient(to bottom, white 0%, blue 100%);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 95%;
    background-color: rgb(255, 255, 255);
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    background-image: url("../images/Sam_Houston_State_University.png");
    background-position: right;
    background-repeat: repeat-y;
    background-attachment: fixed;
}
article p img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    float: left;
}
a:hover, a:focus {
    font-style: italic;
    color: blue;
}
header {
    clear: both;
    border-top: 2px solid blue;
}
header h1 {
    font-size: 175%;
    color: blue;
    text-indent: 30px;
}
header h2 {
    font-size: 130%;
    color: blue;
    text-indent: 30px;
}
article {
    clear:both;
    width: 75%;
    float: left;
    column-count: 3;
    column-rule:5px dashed rgb(10, 25, 233);
    column-gap: 2em;
    margin-left: 2em;
}
article h1 {
    color: blue;
}
article h2 {
    color: blue;
}
article h3 {
    column-span: all;
}
article p::first-letter {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
}
footer {
    clear:both;
    border-top: 2px solid blue;
}
footer p.copyright {
    text-align: center;
    font-size: 80%;
}